@import './palette.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    background: var(--yellow);
    --background-color:var(--yellow);
    --main-color:var(--grenate);
    --hover-color:var(--light-orange);
    --el-color-white: var(--background-color) !important;
    --el-color-primary: var(--main-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(--background-color) !important;
    --el-text-color-primary: var(--main-color) !important;
    --el-fill-color-blank: var(--background-color) !important;
    --el-border-color: var(--main-color) !important;
    --el-border-color-light: var(--main-color) !important;
    --el-border-color-lighter: var(--main-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--main-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}

[data-theme="dark"] {
    background: var(--grenate);
    --background-color:var(--grenate);
    --main-color:var(--yellow);
    --hover-color:var(--red);
    --el-color-white: var(--background-color) !important;
    --el-color-primary: var(--main-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(--background-color) !important;
    --el-text-color-primary: var(--main-color) !important;
    --el-fill-color-blank: var(--background-color) !important;
    --el-border-color: var(--main-color) !important;
    --el-border-color-light: var(--main-color) !important;
    --el-border-color-lighter: var(--main-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--main-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}

.el-button{
    font-family: var(--el-font-family) !important;
}

.el-menu{
    font-family: var(--el-font-family) !important;
}
.el-carousel__button{
    background-color: var(--main-color) !important;
}
