@import './palette.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    background: var(--yellow);
    background-image: linear-gradient(var(--secondary-color-semi), var(--support-color)), url('https://i.pinimg.com/originals/f5/4f/0a/f54f0a19265a262a917ed0d343193354.gif');
    --background-color:var(--yellow);
    --main-color:var(--grenate);
    --main-color-semi: var(--grenate-semi);
    --secondary-color-semi: var(--yellow-semi);
    --support-color:var(--white);
    --hover-color:var(--light-orange);
    --el-color-white: var(--background-color) !important;
    --el-color-primary: var(--main-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(--background-color) !important;
    --el-text-color-primary: var(--main-color) !important;
    --el-fill-color-blank: var(--background-color) !important;
    --el-border-color: var(--main-color) !important;
    --el-border-color-light: var(--main-color) !important;
    --el-border-color-lighter: var(--main-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--main-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}

[data-theme="dark"] {
    background: var(--grenate);
    background-image: linear-gradient(var(--support-color), var(--secondary-color-semi)), url('https://i.pinimg.com/originals/f5/4f/0a/f54f0a19265a262a917ed0d343193354.gif');
    --background-color:var(--grenate);
    --main-color:var(--yellow);
    --main-color-semi: var(--yellow-semi);
    --secondary-color-semi: var(--grenate);
    --support-color:var(--red-semi);
    --hover-color:var(--red);
    --el-color-white: var(--background-color) !important;
    --el-color-primary: var(--main-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(--background-color) !important;
    --el-text-color-primary: var(--main-color) !important;
    --el-fill-color-blank: var(--background-color) !important;
    --el-border-color: var(--main-color) !important;
    --el-border-color-light: var(--main-color) !important;
    --el-border-color-lighter: var(--main-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--main-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}

[data-theme="dark-typical"] {
    background: var(--darker-sea-blue);
    background-image: linear-gradient(var(--secondary-color-semi),var(--support-color)), url('https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8JTIwbmlnaHQlMjBza3l8ZW58MHx8MHx8fDA%3D');
    --background-color:var(--darker-sea-blue);
    --main-color:var(--white);
    --main-color-semi: var(--white-semi);
    --secondary-color-semi: var(--darker-sea-blue-semi);
    --support-color:var(--dark-sea-blue);
    --hover-color:var(--dark-blue);
    --hover-color:var(--dark-blue);
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}
.el-button{
    font-family: var(--el-font-family) !important;
}

.el-menu{
    font-family: var(--el-font-family) !important;
}
.el-carousel__button{
    background-color: var(--main-color) !important;
}
a:visited {
    color: var(--main-color) !important;
}
a{
    color: var(--main-color) !important;
}
a:hover {
    color: var(--hover-color) !important;
}
