:root {
  --lighter-blue: #a0ddd3;
  --light-blue: #6fb0b7;
  --blue: #577f9d;
  --dark-blue: #4a5786;
  --darker-blue: #3e3b66;
  --dark-sea-blue: #392945;
  --darker-sea-blue: #2d1e2f;
  --dark-sea-blue-1: #452e3f;
  --darker-gray: #5d4550;
  --dark-gray: #7b6268;
  --gray: #9c807e;
  --light-gray: #c3a79c;
  --lighter-gray: #dbc9b4;
  --white: white;
  --light-green: #aad795;
  --green: #64b082;
  --dark-green: #488885;
  --darker-green: #3f5b74;
  --cream: #ebc8a7;
  --light-brown: #d3a084;
  --brown: #b87e6c;
  --dark-brown: #8f5252;
  --grenate: #6a3948;
  --dark-cream: #c57f79;
  --light-purple: #ab597d;
  --purple: #7c3d64;
  --dark-purple: #4e2b45;
  --dark-red: #7a3b4f;
  --red: #a94b54;
  --orange: #d8725e;
  --light-orange: #f09f71;
  --yellow: #f7cf91;

  --grenate-semi: #6a3948bb;
  --yellow-semi: #f7cf9199;
  --red-semi: #a94b5499;
  --darker-sea-blue-semi: #2d1e2f99;
  --white-semi: #fcecd199;
  --sea-blue-semi: #39294599;
}
