:root {
    --lighter-blue: #A0DDD3;
    --light-blue: #6FB0B7;
    --blue: #577F9D;
    --dark-blue: #4A5786;
    --darker-blue:#3E3B66;
    --dark-sea-blue:#392945;
    --darker-sea-blue:#2D1E2F;
    --dark-sea-blue-1:#452E3F;
    --darker-gray:#5D4550;
    --dark-gray:#7B6268;
    --gray:#9C807E;
    --light-gray:#C3A79C;
    --lighter-gray:#DBC9B4;
    --white:white;
    --light-green:#AAD795;
    --green:#64B082;
    --dark-green:#488885;
    --darker-green:#3F5B74;
    --cream:#EBC8A7;
    --light-brown:#D3A084;
    --brown:#B87E6C;
    --dark-brown:#8F5252;
    --grenate:#6A3948;
    --dark-cream:#C57F79;
    --light-purple:#AB597D;
    --purple:#7C3D64;
    --dark-purple:#4E2B45;
    --dark-red:#7A3B4F;
    --red:#A94B54;
    --orange:#D8725E;
    --light-orange:#F09F71;
    --yellow:#F7CF91;

    --grenate-semi:#6A3948BB;
    --yellow-semi:#F7CF9199;
    --red-semi:#A94B5499;
    --darker-sea-blue-semi:#2D1E2F99;
    --white-semi:#FCECD199;
    --sea-blue-semi:#39294599;
}
