@import './palette.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    background: var(--white);
    --secondary-color:var(--dark-sea-blue-1);
    --main-color:var(--white);
    --hover-color:var(--dark-blue);
    --el-color-white: var(--white) !important;
    --el-color-primary: var(--secondary-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(--secondary-color) !important;
    --el-text-color-primary: var(--secondary-color) !important;
    --el-fill-color-blank: var(--main-color) !important;
    --el-border-color: var(--secondary-color) !important;
    --el-border-color-light: var(--secondary-color) !important;
    --el-border-color-lighter: var(--secondary-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--secondary-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}

[data-theme="dark"] {
    background: var(--grenate);
    --secondary-color:var(--grenate);
    --main-color:var(--yellow);
    --secondary-color-semi: var(--grenate);
    --support-color:var(--red-semi);
    --hover-color:var(--red);
    --el-color-white: var(--secondary-color) !important;
    --el-color-primary: var(--main-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(---secondary-color) !important;
    --el-text-color-primary: var(--main-color) !important;
    --el-fill-color-blank: var(--secondary-color) !important;
    --el-border-color: var(--main-color) !important;
    --el-border-color-light: var(--main-color) !important;
    --el-border-color-lighter: var(--main-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--main-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
}

[data-theme="dark-typical"] {
    background: var(--dark-sea-blue);
    --main-color:var(--dark-sea-blue);
    --secondary-color:var(--lighter-gray);
    --hover-color:var(--darker-blue);
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
    --el-color-info: var(--el-color-white) !important;
}
.el-button{
    font-family: var(--el-font-family) !important;
}

.el-menu{
    font-family: var(--el-font-family) !important;
}
.el-carousel__button{
    background-color: var(--main-color) !important;
}
a:visited {
    color: var(--secondary-color);
}
a{
    color: var(--secondary-color);
}
a:hover {
    color: var(--hover-color);
}

.link-bright{
    color: var(--el-color-white);
}
.link-bright:hover{
    color: var(--hover-color);
}
