@import './palette.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    background: var(--white);
    --secondary-color:var(--dark-sea-blue-1);
    --main-color:var(--white);
    --hover-color:var(--dark-blue);
    --el-color-white: var(--white) !important;
    --el-color-primary: var(--secondary-color) !important;
    --el-color-primary-light-3: var(--hover-color) !important;
    --el-color-primary-light-5: var(--hover-color) !important;
    --el-color-primary-light-7: var(--hover-color) !important;
    --el-color-primary-light-8: var(--hover-color) !important;
    --el-color-primary-light-9: var(--hover-color) !important;
    --el-color-secondary: var(--secondary-color) !important;
    --el-text-color-primary: var(--secondary-color) !important;
    --el-fill-color-blank: var(--main-color) !important;
    --el-border-color: var(--secondary-color) !important;
    --el-border-color-light: var(--secondary-color) !important;
    --el-border-color-lighter: var(--secondary-color) !important;
    --el-color-info: var(--main-color) !important;
    --el-color-info-light-3: var(--hover-color) !important;
    --el-color-info-light-5: var(--hover-color) !important;
    --el-color-info-light-7: var(--hover-color) !important;
    --el-color-info-light-8: var(--secondary-color) !important;
    --el-color-info-light-9: var(--hover-color) !important;
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
    --code-color: var(--white);
    --background-image-url: url(/img/background.png);
    --secondary-font-family:  'Courier New', Courier, monospace;
    --secondary-font-size: 18px;
}

[data-theme="dark-typical"] {
    background: var(--dark-sea-blue-1);
    --main-color:var(--dark-sea-blue-1);
    --secondary-color: white;
    --hover-color:var(--darker-blue);
    transition: background-color 0.5s, main-color 0.5s;
    --el-font-family: 'Press Start 2P' !important;
    --el-color-info: white !important;
    --code-color: var(--main-color);
    --background-image-url: url(/img/background-dark.png);
}
button {
  font-family: var(--secondary-font-family) !important;
  background: var(--secondary-color);
  color: var(--main-color);
  border: 4px var(--main-color) double;
}

button:hover{
	background: var(--hover-color);
}
button:active{
	background: var(--main-color);
	color: var(--secondary-color);
	border: 4px var(--secondary-color) double;
}

.el-menu {
  font-family: var(--el-font-family) !important;
}

.el-carousel__button {
  background-color: var(--main-color) !important;
}
a:visited {
  color: var(--secondary-color);
}
a {
  color: var(--secondary-color);
}
a:hover {
  color: var(--hover-color);
}

.link-bright {
  color: var(--el-color-white);
}
.link-bright:hover {
  color: var(--hover-color);
}

.secondary-text {
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-font-size);
}
